<header>
    <nav class="group">
        <div class="site-branding">
            <a href="{{ site.baseurl }}/">
                <img class="badge" src="{{ site.baseurl }}/assets/img/badge_1.png" alt="CH" />
                <span class="site-title">failosophy</span>
            </a>
        </div>

<div class="nav-links">
            <a href="{{ site.baseurl }}/index.html" {% if page.url == "/index.html" or page.url == "/index.html" %}class="active"{% endif %}>
                hola
            </a>

            <a href="{{ site.baseurl }}/blogpage" {% if page.url == "/blogpage" or page.url == "/index.html" %}class="active"{% endif %}>
                blog
            </a>

            <a href="{{ site.baseurl }}/webrollpage" {% if page.url == "/webrollpage" or page.url == "/index.html" %}class="active"{% endif %}>
                ¿webroll?
            </a>
        </div>
        </nav>
</header>