<header>
    <nav class="group">
        <div class="site-branding">
            <a href="{{ site.baseurl }}/">
                <img class="badge" src="{{ site.baseurl }}/assets/img/badge_1.png" alt="CH" />
                <span class="site-title">failosophy</span>
            </a>
        </div>

<div class="nav-links">
            <a href="{{ site.baseurl }}/hola" {% if page.url == "/hola" or page.url == "/hola.html" %}class="active"{% endif %}>
                hola
            </a>

            <a href="{{ site.baseurl }}/" {% if page.url == "/" or page.url == "/index.html" %}class="active"{% endif %}>
                blog
            </a>

            <a href="{{ site.baseurl }}/webroll" {% if page.url == "/webroll" or page.url == "/webroll.html" %}class="active"{% endif %}>
                ¿webroll?
            </a>
        </div>
        </nav>
</header>